body {
    font-family: sans-serif;
    margin-top: 75px;
}

.color{
    color: white;
}

.left{
    text-align: left; 
}

.center {
    text-align: center;
} 

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


.con
    {
    color: #bb6c6c;
    text-align: center;
    padding-left: 25;
    padding-right: 25;
    }
